<div class="value-wrapper-halves --full-height">
	<p class="value-wrapper">
		<span class="value">
			{{ total }}
		</span>
		<span class="label">
			total
		</span>
	</p>
	<p class="value-wrapper --second">
		<span class="value">
			{{ gpm }}
		</span>
		<span class="label">
			gold per minute
		</span>
	</p>
	<p class="value-wrapper">
		<span class="value">
			{{ reliable }}
		</span>
		<span class="label">
			reliable
		</span>
	</p>
	<p class="value-wrapper --second">
		<span class="value">
			{{ networth }}
		</span>
		<span class="label">
			networth
		</span>
	</p>
	<p class="value-wrapper">
		<span class="value">
			{{ unreliable }}
		</span>
		<span class="label">
			unreliable
		</span>
	</p>
</div>